.navbar {
  background-color: rgb(153, 153, 153);
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  align-self: flex-start;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 75%;
  margin: auto;
}

.navbar-content a:hover {
  color: #777;
}
