.vote-button {
  padding: 10px 15px;
  width: 60px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 10px;
}

.vote-button-upvote {
  background-color: rgb(49, 172, 49);
  color: white;
}

.vote-button-downvote {
  background-color:  rgb(187, 22, 22);
  color: white;
}


.vote-button-upvote:active {
  background-color: rgb(143, 221, 143);
}

.vote-button-downvote:active {
  background-color: rgb(233, 141, 141);
}