.vote-button {
  padding: 10px 15px;
  width: 60px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 10px;
}

.vote-button-upvote {
  background-color: rgb(33, 121, 33);
  color: white;
}

.vote-button-downvote {
  background-color: rgb(179, 75, 75);
  color: white;
}
