.single-review-page {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 1.2rem;
  padding: 2rem;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 500vh;
  margin-top: 5px;
}

.game-review {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 2rem;
  text-align: left;
  max-width: 800px;
  margin-bottom: 20px;
  margin-top: 100px;
  color: #333333bd;
}

.game-review h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.game-review p {
  margin-bottom: 0.3rem;
}

.game-review img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 1rem;

}
.comments-section {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 2rem;
  text-align: left;
  max-width: 800px;
  color: #000000ad;
}
